.topPanel{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0%;
    bottom: 90%;
    /* temporary */
    background: #EFF;
}

.middlePanel{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 10%;
    bottom: 60%;
    /* temporary */
    background: #FEF;
}

.bottomPanel{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 40%;
    bottom: 0%;
    /* temporary */
    background: #FFE;
}

.milestone-box {
  background: #fff;
  border: 1px solid #999;
  height: 50px;
  width: 50px;
  text-align: center;
}
