.topPanel{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0%;
    bottom: 90%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* temporary */
    background: #EFF;
}

.topButtons{
    display: flex;
    flex-direction: row;
}

.middlePanel{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 10%;
    bottom: 60%;
    /* temporary */
    background: #FEF;
}

.bottomSelector{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 40%;
    bottom: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottomPanel{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 50%;
    bottom: 0%;
    /* temporary */
    background: #FFE;
}

.milestoneBox {
  /*TODO: make this turn different colors based on hover and active status*/
  background: #fff;
  border: 1px solid #999;
  height: 50px;
  width: 50px;
  text-align: center;
}

.milestoneImage {
    /*TODO: figure out how to center this thing*/
    width:80%;
    height:80%;
}

.stoneButtonBG {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgradesPanel{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.upgradeSidebar{
    /*position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%; */
    height: 100%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upgradeSidebarButton {
    border: 1px solid #999;
    width:100%;
    min-height: 30px;
    height:100%;
}

.Tooltip {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100px;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #333;
    background: #EEE;
}

.TooltipBox {
    width:100%;
    height:100%;
}
