.topPanel{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0%;
    bottom: 90%;
    padding-left: 20px;
    /* temporary */
    background: #EFF;
}

.middlePanel{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 10%;
    bottom: 60%;
    /* temporary */
    background: #FEF;
}

.bottomSelector{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 40%;
    bottom: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottomPanel{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 50%;
    bottom: 0%;
    /* temporary */
    background: #FFE;
}

.milestoneBox {
  background: #fff;
  border: 1px solid #999;
  height: 50px;
  width: 50px;
  text-align: center;
}

.bottomSelectorButton {
    border: 1px solid #999;
    width:100%;
    min-height: 30px;
    height:100%;
}

.upgradeSidebar{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upgradeSidebarButton {
    border: 1px solid #999;
    width:100%;
    min-height: 30px;
    height:100%;
}
